<!DOCTYPE html>
<html>
<head>

<title> Welcome to REV&CO </title>
</head>
<body style = "background-color:beige;"> 
    <div style = "text-align: center">
    <h2>Welcome to REV&CO</h2>
    </div>
   <div style = "text-align: left"> 
     
       <h4>My Information</h4>
       <form target = "_blank" method = "GET">
           <ol>
            <li><button type = "Submit"> View my information </button></li> 
            <br>
            <div class= "viewInformationBox" style= "display: none;"> 
            </div >
            <li><button type = "Submit"> Update my information</button></li>
           </ol>
           <br> <br>
           <h4>Requests</h4>
           <ol>
              <li><button type = "Submit"> Submit a reimbursment request</button></li> 
              <br> 
               <li><button type = "Submit">View pending reimbursement requests</button></li>
               <br>
               <li><button type = "Submit">View resolved reimbursement requests</button></li>
           </ol>
           <br>
       </div>

       <div>
 <input type="button" onclick="location.href='../../../index.html';" value="Logout" />       </div>
       </form>
   <script src = "employeeWelcome.js">
</script >
   
</body>
</html>